.VirusSummary_1-1-265_popavK {
    position: relative;
    margin-top: 1.25rem;
    margin-bottom: .25rem;
    background: #f5f6f7;
    border-radius: .31rem;
    white-space: nowrap;
    font-size: .938rem;
    color: #333
}

.VirusSummary_1-1-265_popavK .VirusSummary_1-1-265_26c8Iu {
    table-layout: fixed;
    width: 100%;
    padding: .9375rem 0
}

.VirusSummary_1-1-265_popavK .VirusSummary_1-1-265_26c8Iu td {
    width: 25%;
    text-align: center
}

.VirusSummary_1-1-265_popavK .VirusSummary_1-1-265_26c8Iu.VirusSummary_1-1-265_2fRxdu td {
    width: 33.3333%
}

.VirusSummary_1-1-265_popavK .VirusSummary_1-1-265_3lDxKW {
    font-size: 1.3125rem;
    height: 1.3125rem;
    line-height: 1.3125rem;
    margin-top: .625rem;
    font-family: PingFangSC-Medium
}

.VirusSummary_1-1-265_popavK .VirusSummary_1-1-265_1jagM2 {
    font-size: 1.1875rem;
    height: 1.1875rem;
    line-height: 1.1875rem;
    margin-top: .625rem;
    font-family: PingFangSC-Medium
}

.VirusSummary_1-1-265_popavK .VirusSummary_1-1-265_1lOkwH {
    font-size: 1.0625rem;
    height: 1.0625rem;
    line-height: 1.0625rem;
    margin-top: .625rem;
    font-family: PingFangSC-Medium
}

.VirusSummary_1-1-265_popavK .VirusSummary_1-1-265_Af8Lb3 {
    font-size: .9375rem;
    height: .9375rem;
    line-height: .9375rem;
    color: #333
}

.VirusSummary_1-1-265_popavK .VirusSummary_1-1-265_2xsq2v {
    font-size: .6875rem;
    height: .6875rem;
    line-height: .6875rem;
    margin-top: .5rem;
    color: #999
}

.VirusSummary_1-1-265_popavK .VirusSummary_1-1-265_2xsq2v .VirusSummary_1-1-265_2fhqEt {
    font-weight: 400
}

.VirusSummary_1-1-265_popavK .VirusSummary_1-1-265_2cZob5 {
    display: block
}

.VirusSummary_1-1-265_popavK .VirusSummary_1-1-265_2HLvAf {
    display: none
}

.VirusSummary_1-1-265_popavK .VirusSummary_1-1-265_2fhqEt {
    font-weight: 700
}

.VirusSummary_1-1-265_popavK .VirusSummary_1-1-265_6xUfqo .VirusSummary_1-1-265_2fhqEt {
    color: #ff6a57
}

.VirusSummary_1-1-265_popavK .VirusSummary_1-1-265_1erbWM .VirusSummary_1-1-265_2fhqEt {
    color: #e83132
}

.VirusSummary_1-1-265_popavK .VirusSummary_1-1-265_2PXtvM .VirusSummary_1-1-265_2fhqEt {
    color: #ec9217
}

.VirusSummary_1-1-265_popavK .VirusSummary_1-1-265_1ykBZY .VirusSummary_1-1-265_2fhqEt {
    color: #e37b62
}

.VirusSummary_1-1-265_popavK .VirusSummary_1-1-265_3k3C0Y .VirusSummary_1-1-265_2fhqEt {
    color: #476da0
}

.VirusSummary_1-1-265_popavK .VirusSummary_1-1-265_2ahJaj .VirusSummary_1-1-265_2fhqEt {
    color: #10aeb5
}

.VirusSummary_1-1-265_popavK .VirusSummary_1-1-265_28rIkx .VirusSummary_1-1-265_2fhqEt {
    color: #4d5054
}

.VirusSummary_1-1-265_3XjNOC .VirusSummary_1-1-265_3aQN-W {
    font-size: .6875rem;
    height: .6875rem;
    line-height: .6875rem;
    padding-top: .5rem;
    color: #999;
    text-align: center
}

.VirusSummarySix_1-1-265_ZRHUKw {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem
}

.VirusSummarySix_1-1-265_3U50rt {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}

.VirusSummarySix_1-1-265_3U50rt .VirusSummarySix_1-1-265_3aWEE6 {
    position: relative;
    margin-left: .625rem;
    margin-right: .625rem
}

.VirusSummarySix_1-1-265_3U50rt .VirusSummarySix_1-1-265_3aWEE6:after {
    position: absolute;
    content: "";
    display: block;
    right: 0;
    top: 50%;
    margin-top: -.875rem;
    height: 1.75rem;
    width: 1px;
    background: #eee
}

.VirusSummarySix_1-1-265_3U50rt .VirusSummarySix_1-1-265_3wCKWi {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 25%;
    -ms-flex: 1 1 25%;
    flex: 1 1 25%;
    text-align: center
}

.VirusSummarySix_1-1-265_3U50rt .VirusSummarySix_1-1-265_31c2vJ {
    font-size: .9375rem;
    height: .9375rem;
    line-height: .9375rem;
    margin-bottom: .625rem;
    color: #333;
    position: relative
}


.VirusSummarySix_1-1-265_3U50rt .VirusSummarySix_1-1-265_31c2vJ .VirusSummarySix_1-1-265_39Iye6 {
    background-image: url(//mms-res.cdn.bcebos.com/mms-res/voicefe/captain/mola/Virus/1.1.265/assets/question-mark.f7b4fec.png)
}

.VirusSummarySix_1-1-265_3U50rt .VirusSummarySix_1-1-265_3haLBF {
    font-size: 1.3125rem;
    height: 1.3125rem;
    line-height: 1.3125rem;
    font-family: PingFangSC-Medium;
    font-weight: 700
}

.VirusSummarySix_1-1-265_3U50rt .VirusSummarySix_1-1-265_TxrYcT {
    font-size: 1.1875rem;
    height: 1.1875rem;
    line-height: 1.1875rem;
    margin-top: .625rem;
    font-family: PingFangSC-Medium
}

.VirusSummarySix_1-1-265_3U50rt .VirusSummarySix_1-1-265_2KMiu3 {
    font-size: 1.0625rem;
    height: 1.0625rem;
    line-height: 1.0625rem;
    margin-top: .625rem;
    font-family: PingFangSC-Medium
}

.VirusSummarySix_1-1-265_3U50rt .VirusSummarySix_1-1-265_3I_ZN9 {
    font-size: .6875rem;
    height: .6875rem;
    line-height: .6875rem;
    margin-top: .375rem;
    color: #999
}

.VirusSummarySix_1-1-265_3U50rt .VirusSummarySix_1-1-265_c39Mfc .VirusSummarySix_1-1-265_2ZJJBJ {
    color: #e83132
}

.VirusSummarySix_1-1-265_3U50rt .VirusSummarySix_1-1-265_123ZxM .VirusSummarySix_1-1-265_2ZJJBJ {
    color: #ff6a57
}

.VirusSummarySix_1-1-265_3U50rt .VirusSummarySix_1-1-265_3FYRLi .VirusSummarySix_1-1-265_2ZJJBJ {
    color: #545499
}

.VirusSummarySix_1-1-265_3U50rt .VirusSummarySix_1-1-265_2VbXew .VirusSummarySix_1-1-265_2ZJJBJ {
    color: #ec9217
}

.VirusSummarySix_1-1-265_3U50rt .VirusSummarySix_1-1-265_UYd2fc .VirusSummarySix_1-1-265_2ZJJBJ {
    color: #10aeb5
}

.VirusSummarySix_1-1-265_3U50rt .VirusSummarySix_1-1-265_27xUAr .VirusSummarySix_1-1-265_2ZJJBJ {
    color: #4d5054
}

.VirusSummarySix_1-1-265_3U50rt .VirusSummarySix_1-1-265_JfPOST .VirusSummarySix_1-1-265_2ZJJBJ {
    color: #476da0
}

.VirusSummarySix_1-1-265_3U50rt .VirusSummarySix_1-1-265_l6KpVT .VirusSummarySix_1-1-265_2ZJJBJ {
    color: #e86d48
}

.VirusSummarySix_1-1-265_3Y7tso {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: .9375rem 0;
    padding: 0 .625rem 0 .9375rem;
    height: 2.3333rem;
    background: #fff;
    border: .0625rem solid #f5f5f5;
    box-shadow: 0 .2083rem .3125rem 0 hsla(0,0%,96%,.5);
    border-radius: 5px
}

.VirusSummarySix_1-1-265_3Y7tso .VirusSummarySix_1-1-265_1jV1Z5 {
    display: inline-block;
    width: 1.625rem;
    height: 1rem;
    background-image: url(//mms-res.cdn.bcebos.com/mms-res/voicefe/captain/mola/Virus/1.1.265/assets/trumpet.985bf93.png);
    background-repeat: no-repeat;
    background-size: contain
}

.VirusSummarySix_1-1-265_3Y7tso .VirusSummarySix_1-1-265_2bisvz {
    display: inline-block;
    width: 100%;
    height: 1.75rem;
    line-height: 1.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.VirusSummarySix_1-1-265_3Y7tso .VirusSummarySix_1-1-265_2bisvz .VirusSummarySix_1-1-265_3QfEWt {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: PingFangSC-Regular;
    font-size: .875rem;
    color: #000;
    letter-spacing: 0
}

.VirusSummarySix_1-1-265_3Y7tso .VirusSummarySix_1-1-265_2bisvz .VirusSummarySix_1-1-265_3QfEWt .VirusSummarySix_1-1-265_1shUyE {
    cursor: default;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.VirusSummarySix_1-1-265_1KtzV- {
    margin-top: 1.25rem
}

.VirusSummarySix_1-1-265_1reCST {
    font-size: .6875rem;
    height: .6875rem;
    line-height: .6875rem;
    padding-top: .5625rem;
    color: #999;
    text-align: center
}

.VirusSummarySix_1-1-265_kONOYc .VirusSummarySix_1-1-265_3I_ZN9 {
    display: none
}

.Virus_1-1-265_2dO8Hx {
    margin-bottom: 1.875rem
}

.Virus_1-1-265_3U87rg {
    font-size: 1rem;
    height: 1rem;
    line-height: 1rem;
    font-weight: 700;
    vertical-align: middle;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-bottom: .625rem
}

.Virus_1-1-265_32Y_aO {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center
}

.Virus_1-1-265_1sQfKI,.Virus_1-1-265_32Y_aO {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    color: #999;
    font-size: .8125rem;
    height: .8125rem;
    line-height: .8125rem;
    vertical-align: middle
}

.Tip_1-1-265_16-DfN {
    font-size: .8125rem;
    height: .8125rem;
    line-height: .8125rem
}

